* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    transition: 0.4s;
}

body.light-mode {
    background: #f1f5f9;
    color: #0f172a;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #38bdf8;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
}

header {
    text-align: center;
    padding: 60px 20px;
    border-bottom: 3px solid #38bdf8;
}

header img {
    width: 150px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

section {
    background: #020617;
    margin: 25px 0;
    padding: 25px;
    border-radius: 15px;
    border-left: 4px solid #38bdf8;
}

body.light-mode section {
    background: #e2e8f0;
}

.project-card {
    background: #0f172a;
    padding: 15px;
    margin-top: 15px;
    border-radius: 12px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
}

.skill-item {
    background: #020617;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #38bdf8;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 3px solid #38bdf8;
}
