body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; /* خلفية سودا */
    color: #ffffff;
}

header {
    background-color: #0f172a;
    text-align: center;
    padding: 30px;
}

section {
    background-color: #111827;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: #38bdf8; /* الأزرق */
}

a {
    color: #9ca3af; /* رمادي */
    text-decoration: none;
}

a:hover {
    color: #38bdf8;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #0f172a;
    color: #9ca3af;
}
